
## MISC REQS
requests
psutil
python-dateutil
py-cpuinfo
paramiko
pillow
pyyaml
six
tornado
virtualenv
virtualenvwrapper

## DATA SCI
numpy
matplotlib==2.2.5
h5py
jupyter
ipykernel
scipy
sklearn
#scikits.odes
#easyplot
pyhf

## DEEP LEARNING
#tensorflow==1.9.0
#tensorflow-gpu==1.9.0
#keras
#torch
#torchvision

